body{
    background-color: black;
    margin: 0;
}

.box{
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    color: white;
    font-size: 3em;
    padding: 15px;
    border: 2px solid yellow;
    margin: 15px;
    margin: 10px 0 20px 30px;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 30px;
}

.vermelho{
    background-color: red;
}

.verde{
    background-color: green;
}

.azul{
    background-color: blue;
}