html{
    /* height: 100%;
    color: aqua;
    background-color: rgba(138, 43, 226, 1);
    background-image: url("cachorro.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

/* @font-face{
    font-family: alexbrush;
    src: url("AlexBrush-Regular.ttf");
}

main{
    font-family: alexbrush, cursive;
} */

main{
    font-style: italic;   

    font-weight: bold;

    font-size: 1rem;
}