<h1 class="display-3 bg-primary text-center p-3">Teste Bootstrap</h1>

<div class="d-flex justify-content-around">
    <div class="card" style="width: 18rem;">
        <img src="http://getbootstrap.com.br/docs/4.1/assets/brand/bootstrap-social.png" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Testando estilos bootstrap</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum dolores ullam mollitia corporis omnis labore aspernatur, nobis molestias dolor natus veritatis iusto. Doloremque dolorum labore nisi illo, laboriosam aliquam! Aliquid.</p>
            <a href="#" class="btn btn-primary">OK</a>
        </div>
    </div>
    
    <div class="card" style="width: 18rem;">
        <img src="http://getbootstrap.com.br/docs/4.1/assets/brand/bootstrap-social.png" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Testando estilos bootstrap</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum dolores ullam mollitia corporis omnis labore aspernatur, nobis molestias dolor natus veritatis iusto. Doloremque dolorum labore nisi illo, laboriosam aliquam! Aliquid.</p>
            <a href="#" class="btn btn-primary">OK</a>
        </div>
    </div>
    
    <div class="card" style="width: 18rem;">
        <img src="http://getbootstrap.com.br/docs/4.1/assets/brand/bootstrap-social.png" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Testando estilos bootstrap</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum dolores ullam mollitia corporis omnis labore aspernatur, nobis molestias dolor natus veritatis iusto. Doloremque dolorum labore nisi illo, laboriosam aliquam! Aliquid.</p>
            <a href="#" class="btn btn-primary">OK</a>
        </div>
    </div>
</div>
